
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-linkedin-circled:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e802'; } /* '' */
.icon-sound:before { content: '\e803'; } /* '' */
.icon-mute:before { content: '\e804'; } /* '' */